<div class="container py-4">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0">{{ isEditMode ? 'Edit Item' : 'Add Item' }}</h4>
    </div>
<app-spinner [isSpinnerLoading]="isLoading">
    <div class="card-body">
      <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-column h-12rem">
          <div
              class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
              <div class="row">
                <div
                                class="col-lg-6 mt-2"
                                *ngFor="let field of addEditItemFormFields">
                                <app-form-builder
                                    [props]="field"
                                    [formGroup]="itemForm">
                                </app-form-builder>
                            </div>
                </div>
                </div>
                </div>
                <div class="d-flex pt-10 justify-content-between">
                  <button label="Submit" type="submit" class="btn btn-primary">{{isEditMode ? 'Update': 'Add'}}</button>
              </div>
      </form>
    </div>
  </app-spinner>
  </div>
</div>

