<div class="inventory-card">
  <div class="card-header d-flex justify-content-between align-items-center" style="background: #dac0c0;">
    <h2>Sales Info</h2>
  </div>
  <div class="card-body">
    <table class="inventory-table">
      <thead>
        <tr>
          <!-- <th>Sale Id</th> -->
          <th>Item Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of salesData">
          <!-- <td>{{ item.id }}</td> -->
          <td>{{ item.itemName }}</td>
          <td>Rs. {{ item.unitPrice }}</td>
          <td>{{item.quantity}}</td>
          <td>Rs. {{ item.totalPrice }}</td>
          <td>
              {{ item.date | date: 'dd/MM/yyyy' }} {{ item.date | date: 'h:mm a' }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
