<div class="sidebar" [class.sidebar-close]="!openSidebar">
<div class="logo">
<h1>IMS</h1>
</div>
<ul class="nav flex-column  p-2" *ngIf="menuSidebar">
  <ng-container *ngFor="let navItem of menuSidebar"  >
  <li class="nav-item mt-2"  *ngIf="hasPermission(navItem.permission) | async">

    <a

      class="nav-link d-flex align-items-center gap-2 "
      [routerLink]="navItem.url"
      routerLinkActive="active"
    >
      <i
        class="fa"
        [ngClass]="navItem.icon"
        aria-hidden="true"
        title="{{ navItem.name }}"
      ></i>
      <span *ngIf="openSidebar">{{ navItem.name }}</span>
    </a>
  </li>
</ng-container>
  <li class="nav-item mt-2">
    <a
      class="nav-link d-flex align-items-center gap-2"
      (click)="logout()"
      routerLinkActive="active"
    >
      <i
        class="fa"
        [ngClass]="'fa-sign-out-alt'"
        aria-hidden="true"
        title="Logout"
      ></i>
      <span *ngIf="openSidebar">Logout</span>
    </a>
  </li>
</ul>

</div>
<section class="home-section">
  <div class="home-header">
    <div class="hamburger-menu">
      <input
        type="checkbox"
        id="checkbox-hamburger-menu"
        [(ngModel)]="openSidebar"
      />
      <label class="label-hamburger-menu" for="checkbox-hamburger-menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </label>
    </div>
    <div class="title">Inventory Management System</div>
  </div>
  <div class="home-view">
    <router-outlet></router-outlet>
  </div>
</section>

