/* Hamburger Menu */
.hamburger-menu {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 15px;
}

.label-hamburger-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.5s ease;
}

.label-hamburger-menu:hover .bar {
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.3);
}

.nav-link{
  font-size: 24px !important;
  color: #000 !important;
}
.label-hamburger-menu .bar {
  width: 40px;
  height: 4px;
  background: #000;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 1px;
  transition: 0.4s ease;
}

.label-hamburger-menu .bar:not(:first-child) {
  margin-top: 5px;
}

#checkbox-hamburger-menu {
  display: none;
}

#checkbox-hamburger-menu:checked + .label-hamburger-menu {
  transform: translate(-50%, -50%) rotateY(180deg);
}

#checkbox-hamburger-menu:checked + .label-hamburger-menu .bar {
  width: 30px;
  transform: rotateY(180deg) rotateX(360deg);
}

#checkbox-hamburger-menu:checked + .label-hamburger-menu .bar:first-child {
  transform: translateY(9px) rotate(-45deg);
}

#checkbox-hamburger-menu:checked + .label-hamburger-menu .bar:nth-child(2) {
  opacity: 0;
}

#checkbox-hamburger-menu:checked + .label-hamburger-menu .bar:nth-child(3) {
  transform: translateY(-10px) rotate(45deg);
}

.logo{
  height:80px;
  background: #252525;

}

.logo h1{
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

/* Home Section */
.home-section {
  position: relative;
 background: #fff;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
}


.home-section .home-header {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  background:#e6e5e5 ;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.home-section .home-header .title {
  color: #000;
  font-size: 26px;
  font-weight: 600;
}

.home-section .home-view {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: white;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #e6e5e5;
  z-index: 100;
  transition: all 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.sidebar.sidebar-close {
  width: 75px;

}

.nav-link{
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-link:hover{
  background: #995555;
  color: #ffffff !important;
  border-radius: 5px;
}

.nav-link.active {
  background: #995555;
  color: #ffffff !important;
  border-radius: 5px;
}

.sidebar .logo-details {
  width: 100%;
  padding: 20px 10px 10px 10px;
}

.sidebar .logo-details .logo {
  height: 40px;
  width: 100%;
  /* background-image: linear-gradient(to right, #ffa726, #ff5722); */
}

.sidebar.sidebar-close .logo-details .logo {
  border-radius: 3px;
}

.sidebar.sidebar-close ~ .home-section {
  left: 60px;
  width: calc(100% - 60px);
}

@media (max-width: 420px) {
  .sidebar.sidebar-close .nav-links li .sub-menu {
    display: none;
  }
}
