<main class="error-page">
  <div class="container text-center mt-5">
    <div class="eyes d-flex justify-content-center gap-2 mb-4">
      <div class="eye">
        <div class="eye__pupil eye__pupil--left"></div>
      </div>
      <div class="eye">
        <div class="eye__pupil eye__pupil--right"></div>
      </div>
    </div>

    <div class="error-page__heading mb-3">
      <h1 class="fw-bold text-primary fs-1">Looks like you're lost</h1>
      <p class="fs-4 text-muted">Page Not Found....!</p>
    </div>

    <a
      class="btn btn-outline-primary px-4 py-2 rounded-pill"
      [routerLink]="'/'"
      title="Back to home"
    >
      Back to home
    </a>
  </div>
</main>

